@import '_variables';

@import '_fonts';

@import 'general';
.kad-topbar-right {
    text-align: right;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

html, body {
    @include html();
}

h1 {
    @include h1();
}

h2 {
    @include h2();
}

h1, p {
    @include hyphens();
}

#containerfooter {
    @include containerfooter();
}
.footerbase {
    @include footerbase();
}

@import 'logo';

@import 'navigation';

@import 'startseite';

@import 'category';

@import 'slider';