// Overview

// Headline
header {
    padding: 0;
}

// Subheadline
.subhead {
    font-size: 1rem;
}

// Tags
.posttags {
    font-size: 1rem;
}

.icon-tag {
    &::after {
        content: '\0020';
    }
}