@import 'general';

html, body {
    @include html();
}

h1 {
    @include h1();
    @include hyphens();
}


h2 {
    @include h2();
    @include hyphens();
}

p {
    text-align: justify;
    @include hyphens();
    a {
        &:hover {
            text-decoration: underline;
        }
    }
}

// Seitentitel: Linien ausblenden
.page-header {
	border: 0;
	margin: 0;
}

// Bildrand entfernen
img {
    padding: 0px!important;
    border: none!important;
}

// Bildnachweis
p.image-credits {
	padding-top: 20px;
	font-size: 0.8rem;
}

// Kontaktformular
label {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
}

.kb-form .kadence-blocks-form-field .kb-forms-submit {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    background-color: $red;
    border: 2px solid $red;
    &:hover {
        background-color: $white;
        color: $red;
        border: 2px solid $red;
    }
}

.widget-inner {
    clear:both;
}

// Fonts
.icon-map-marker {
    &:before {
        content: '\E0F1';
    }
}

.icon-arrow-right {
    &:before {
        content: '\E3B1';
    }
}

// Image Sources
.image-source {
    right: 0;
    position: absolute;
    color: $white;
    bottom: 0px;
    float: right;
    padding: 0.2rem;
    background: rgba(100, 100, 100, 0.6);
    font-size: 0.8rem;
    a {
        //padding-bottom: none!important;
        text-decoration: underline;
        color: $white;
    }
}