html, body {
    font-family: "Open Sans";
    font-size: 12px;
	font-weight: 400;
	font-style: normal;
}

h1 {
	font-family: "Open Sans";
	line-height: 3rem;
	font-weight: 600;
	font-style: normal;
	color: $red;
	font-size: 2.9rem;}

h2 {
	font-family: "Open Sans";
	line-height: 2rem;
	font-weight: 600;
	font-style: normal;
	color: $red;
	font-size: 2.2rem;
}

// Seitentitel: Linien ausblenden
.page-header {
	border: 0;
	margin: 0;
}