// Desktop
nav#nav-main {
    ul.sf-menu {
        li {
            font-family: 'Open Sans';
            font-size: 1.5rem;
            font-weight: 600;
            font-style: normal;
            a {
                color: $red;
                font-weight: 600;
                &:hover {
                    background-color: $red;
                    color: $white;
                }
            }
            ul li {
                a {
                    color: $red;
                    &:hover {
                        background-color: $red;
                        color: $white;
                    }
                }
            }
        }
    }
}

// Mobile
.mobileclass {
    background-color: $red;
}

#mobile-nav-trigger {
    color: $white;
    background-color: $red;
    .nav-trigger-case {
        color: $white;
        &:hover {
            color: $white;
            .kad-navbtn, .kad-menu-name {
                color: $white;
            }
        }
    }
}