// Full width
.wp-block-kadence-slider {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    padding: 0;
    max-width: none;
}
// No dots padding
.kt-blocks-carousel {
    padding: 0;
}

.kb-advanced-slide-inner-wrap {
    align-items: flex-end;
    display: flex;
    .kb-advanced-slide-inner {
        width: unset;
        padding-right: 20vw;
        h2 {
            text-align: left;
            font-size: 2.8rem;
            background-color: $red;
            color: $white;
            padding: 1.2rem 0.6rem 1.2rem 0.6rem;
            @media (max-width: 480px) {
                font-size: 1.8rem;
                padding: 0.4rem 0.6rem 0.4rem 0.6rem;
                -ms-hyphens: none;
                -webkit-hyphens: none;
                hyphens: none;
            } 
        }
    }
}

.wp-block-button__link {
    border-radius: 5px;
    background-color: $red;
    font-weight: 600;
    &:hover {
        background-color: $white;
        color: $red;
    }
}

.wp-block-button {
    padding-left: 20vw;
}