// Slider: Padding
.sliderclass {
	padding: 0;
}

// News-Block
// Anpassung der Abstände unter dem Bild
.wp-block-kadence-posts .loop-entry {
	box-shadow: unset;
	.entry-content-wrap {
		padding: 1rem;
		.entry-meta {
			font-size: unset;
			color: $red;
		}
	}
}

// Kalender
.calendar {
	column-gap: 2.5rem;
	.image {
		bottom: 0;
		left: 0;
		right: 0;
		top: 0;
		a {
			display: block;
			height: 0;
			margin: 0;
			overflow: hidden;
			padding-bottom: 66.67%;
			position: relative;
			img {
				margin: 0;
				object-fit: cover;
				width: 100%;
				max-width: 100%;
			}
		}
	}
	.wp-block-column {
		.info {
			padding: 1rem;
		}
	}
}