// Slider: Padding
.sliderclass {
	padding: 0;
}

// News-Block
// Anpassung der Abstände unter dem Bild
.wp-block-kadence-posts .loop-entry .entry-content-wrap {
	padding: 1rem;
	.entry-meta {
		font-size: 100%;
	}
}

// Kalender
.cal-box {
	padding: 0 1rem 0 1rem;
}