// Slider: Padding
.sliderclass {
	padding: 0;
}

// News-Block
// Anpassung der Abstände unter dem Bild
.wp-block-kadence-posts .loop-entry {
	box-shadow: unset;
	.entry-content-wrap {
		padding: 1rem;
		.entry-meta {
			font-size: unset;
		}
	}
}

// Kalender
.calendar {
	column-gap: 2.5rem;
	.image {
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}
	.wp-block-column {
		.info {
			padding: 0 1rem 0 1rem;
		}
	}
}