// Remove pictures hover effect
[class^="tp-team-pro-area-"] {
    display: grid;
    row-gap: 2.5rem;
    column-gap: 2.5rem;
    grid-template-columns: repeat(3,minmax(0,1fr));
    @media (max-width: 480px) {
        grid-template-columns: none;
    }
    .gridfilter-item {
        width: 100%;
        .teamshowcasefree_style01 .tp-team-pro-thumbnail-01 img {
            max-width: 100%;
        }
    }
}

.teamshowcasefree_style01:hover img {
    transform: unset;
}

.teamshowcasefree_style01 {
    &:hover {
        .tp-team-pro-thumbnail-01 {
            img {
                transform: unset;
            }
        }
    }
}

.teamshowcasefree_style01:hover .tp-team-pro-thumbnail-01 img {
    transform: unset;
}

.teamshowcasefree-col-lg-3 {
    width: unset;
}