[class^="tp-team-pro-area-"] {
    display: grid;
    row-gap: 2.5rem;
    column-gap: 2.5rem;
    grid-template-columns: repeat(3,minmax(0,1fr));
    // Remove grid on mobile devices
    @media (max-width: 480px) {
        grid-template-columns: none;
    } 
    .gridfilter-item {
        width: 100%;
    }
    .teamshowcasefree_style01 {
        background: none;
        .tp-team-pro-thumbnail-01 img {
            max-width: 100%;
        }
        .tp-team-pro-content {
            padding: 1rem;
            h2 {
                color: unset;
                font-size: unset;
            }
        }
    }
}

.teamshowcasefree_style01:hover img {
    transform: unset;
}

.teamshowcasefree_style01 {
    &:hover {
        .tp-team-pro-thumbnail-01 {
            img {
                transform: unset;
            }
        }
    }
}

.teamshowcasefree_style01:hover .tp-team-pro-thumbnail-01 img {
    transform: unset;
}

.teamshowcasefree-col-lg-3 {
    width: unset;
}