#topbar {
    background-color: $white;
    color: $red;
    border-bottom: 1px solid $red;
}

.topbar-widget {
    color: $red;
}

.kad-topbar-right {
    text-align: right;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    color: $red;
}