#topbar {
    background-color: #f2f2f2;
    color: $red;
}

.topbar-widget {
    color: $red;
}

.kad-topbar-right {
    text-align: right;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    color: $red;
}