@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.eot");
  src: local("../fonts/Open Sans Regular"), local("OpenSans-Regular"), url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-SemiBold.eot");
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url("../fonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
html, body {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: "Open Sans";
  font-size: 2.8rem;
  line-height: 3.2rem;
  font-weight: 600;
  font-style: normal;
  color: #e3000f;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

h2 {
  font-family: "Open Sans";
  font-size: 1.8rem;
  line-height: 2.2rem;
  font-weight: 600;
  font-style: normal;
  color: #e3000f;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

p {
  text-align: justify;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
p a:hover {
  text-decoration: underline;
}

.page-header {
  border: 0;
  margin: 0;
}

img {
  padding: 0px !important;
  border: none !important;
}

p.image-credits {
  padding-top: 20px;
  font-size: 0.8rem;
}

label {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
}

.kb-form .kadence-blocks-form-field .kb-forms-submit {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  background-color: #e3000f;
  border: 2px solid #e3000f;
}
.kb-form .kadence-blocks-form-field .kb-forms-submit:hover {
  background-color: #ffffff;
  color: #e3000f;
  border: 2px solid #e3000f;
}

.widget-inner {
  clear: both;
}

.icon-map-marker:before {
  content: "\e0f1";
}

.icon-arrow-right:before {
  content: "\e3b1";
}

.slider .image-source {
  right: 0;
  position: absolute;
  color: #ffffff;
  bottom: 0px;
  float: right;
  padding: 0.2rem;
  background: rgba(100, 100, 100, 0.6);
  font-size: 0.8rem;
}
.slider .image-source a {
  text-decoration: underline;
  color: #ffffff;
}

.wp-block-kadence-posts article .image-source {
  position: relative;
  color: #ffffff;
  bottom: 1.6rem;
  float: right;
  padding: 0.2rem;
  background: rgba(100, 100, 100, 0.6);
  font-size: 0.8rem;
}
.wp-block-kadence-posts article .image-source a {
  text-decoration: underline;
  color: #ffffff;
}

.post-image-container .image-source {
  right: 0;
  position: relative;
  color: #ffffff;
  bottom: 1.6rem;
  float: right;
  padding: 0.2rem;
  background: rgba(100, 100, 100, 0.6);
  font-size: 0.8rem;
  z-index: 2;
  top: auto;
  left: auto;
}
.post-image-container .image-source a {
  text-decoration: underline;
  color: #ffffff;
}

.postfeat {
  position: relative;
}

.calendar .image .image-source {
  right: 0;
  position: absolute;
  color: #ffffff;
  bottom: 0px;
  float: right;
  padding: 0.2rem;
  background: rgba(100, 100, 100, 0.6);
  font-size: 0.8rem;
}
.calendar .image .image-source a {
  text-decoration: underline;
  color: #ffffff;
}

.pageheadfeature .image-source {
  right: 0;
  position: relative;
  color: #ffffff;
  bottom: 1.6rem;
  float: right;
  padding: 0.2rem;
  background: rgba(100, 100, 100, 0.6);
  font-size: 0.8rem;
  z-index: 2;
  top: auto;
  left: auto;
}
.pageheadfeature .image-source a {
  text-decoration: underline;
  color: #ffffff;
}

.postfeat .image-source {
  right: 0;
  position: relative;
  color: #ffffff;
  bottom: 1.6rem;
  float: right;
  padding: 0.2rem;
  background: rgba(100, 100, 100, 0.6);
  font-size: 0.8rem;
  z-index: 2;
  top: auto;
  left: auto;
}
.postfeat .image-source a {
  text-decoration: underline;
  color: #ffffff;
}

#topbar {
  background-color: #ffffff;
  color: #e3000f;
  border-bottom: 1px solid #e3000f;
}

.topbar-widget {
  color: #e3000f;
}

.kad-topbar-right {
  text-align: right;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  color: #e3000f;
}

#logo {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
#logo .brand {
  display: inline-block;
}
#logo p.kad_tagline {
  /* Slogan styling */
  font-family: "Open Sans";
  line-height: 18px;
  font-weight: 600;
  font-style: normal;
  color: #e3000f;
  font-size: 18px;
  text-align: left;
  /* Slogan in vertical align bottom */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0px 0px 0px 10px;
  margin: 0px;
  /* Link style */
}
#logo p.kad_tagline a:hover {
  text-decoration: none;
}

nav#nav-main ul.sf-menu li {
  font-family: "Open Sans";
  font-size: 1.5rem;
  font-weight: 600;
  font-style: normal;
}
nav#nav-main ul.sf-menu li a {
  color: #e3000f;
  font-weight: 600;
}
nav#nav-main ul.sf-menu li a:hover {
  background-color: #e3000f;
  color: #ffffff;
}
nav#nav-main ul.sf-menu li ul li a {
  color: #e3000f;
}
nav#nav-main ul.sf-menu li ul li a:hover {
  background-color: #e3000f;
  color: #ffffff;
}

.mobileclass {
  background-color: #e3000f;
}

#mobile-nav-trigger {
  color: #ffffff;
  background-color: #e3000f;
}
#mobile-nav-trigger .nav-trigger-case {
  color: #ffffff;
}
#mobile-nav-trigger .nav-trigger-case:hover {
  color: #ffffff;
}
#mobile-nav-trigger .nav-trigger-case:hover .kad-navbtn, #mobile-nav-trigger .nav-trigger-case:hover .kad-menu-name {
  color: #ffffff;
}

.sliderclass {
  padding: 0;
}

.wp-block-kadence-posts .entry-taxonomies {
  text-transform: none;
}
.wp-block-kadence-posts .loop-entry {
  box-shadow: unset;
}
.wp-block-kadence-posts .loop-entry .entry-content-wrap {
  padding: 1rem;
  padding: 1rem 1rem 0.25rem 1rem;
}
.wp-block-kadence-posts .loop-entry .entry-content-wrap .entry-meta {
  font-size: unset;
  color: #e3000f;
}

.wp-block-kadence-posts.grid-cols {
  row-gap: 1rem;
}

@media (max-width: 1024px) {
  .aktuelles article:last-child {
    display: none;
  }
}

.calendar {
  margin-bottom: 0;
  column-gap: 2.5rem;
  row-gap: 1rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
@media (max-width: 992px) and (min-width: 449px) {
  .calendar {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (max-width: 448px) {
  .calendar {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.calendar .image {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: relative;
}
.calendar .image a.event-link {
  display: block;
  height: 0;
  margin: 0;
  overflow: hidden;
  padding-bottom: 66.67%;
  position: relative;
}
.calendar .image a.event-link img {
  margin: 0;
  object-fit: cover;
  width: 100%;
  max-width: 100%;
  object-position: center 0;
  position: absolute;
  height: 100%;
}
.calendar .wp-block-column .info {
  padding: 1rem 1rem 0.25rem 1rem;
}
@media (max-width: 1024px) {
  .calendar .wp-block-column:last-child {
    display: none;
  }
}

.starseite-overview-link {
  font-weight: 600;
  padding-left: 1rem;
}
.starseite-overview-link a::before {
  content: "\e3b1";
  font-family: "virtue_icons";
  font-weight: normal;
  font-size: 0.9rem;
}

.kt-svg-icon-wrap a.kt-svg-icon-link {
  transition: all 0.2s ease-in-out;
}
.kt-svg-icon-wrap a.kt-svg-icon-link:hover {
  transform: scale(1.2);
}
.kt-svg-icon-wrap svg {
  width: 50%;
  height: 50%;
}

.postlist .col-md-7 header, .postlist.fullwidth .col-md-8 header {
  padding: 0;
}

.postlist article {
  border: 0px;
}

.subhead {
  font-size: 1rem;
}
.subhead a {
  font-size: 1rem;
}

@media (min-width: 480px) and (max-width: 992px) {
  .kt-intrinsic-container {
    max-width: 100% !important;
  }
  .kt-intrinsic-container img {
    width: 100%;
  }
}
.posttags {
  font-size: 0.8rem;
}
.posttags a {
  font-size: 0.8rem;
}

.icon-tag::after {
  content: " ";
}

.postlist .col-md-7 .entry-content, .postlist.fullwidth .col-md-8 .entry-content {
  padding: 10px 0px;
}

@media (max-width: 480px) {
  article.post header h1 {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }
}
.wp-block-kadence-slider {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  padding: 0;
  max-width: none;
}

.kt-blocks-carousel {
  padding: 0;
}

.kb-advanced-slide-inner-wrap {
  align-items: flex-end;
  display: flex;
}
.kb-advanced-slide-inner-wrap .kb-advanced-slide-inner {
  width: unset;
  padding-right: 20vw;
}
.kb-advanced-slide-inner-wrap .kb-advanced-slide-inner h2 {
  text-align: left;
  font-size: 2.8rem;
  background-color: #e3000f;
  color: #ffffff;
  padding: 1.2rem 0.6rem 1.2rem 0.6rem;
}
@media (max-width: 480px) {
  .kb-advanced-slide-inner-wrap .kb-advanced-slide-inner h2 {
    font-size: 1.8rem;
    padding: 0.4rem 0.6rem 0.4rem 0.6rem;
    -ms-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
  }
}

.wp-block-button__link {
  border-radius: 5px;
  background-color: #e3000f;
  font-weight: 600;
}
.wp-block-button__link:hover {
  background-color: #ffffff;
  color: #e3000f;
}

.wp-block-button {
  padding-left: 20vw;
}

#containerfooter {
  font-size: 0.8rem;
  padding-top: none;
  padding-bottom: 20px;
  color: #e3000f;
  background-color: #ffffff;
  border-top: 1px solid #e3000f;
}
#containerfooter a {
  color: #e3000f;
}

.footerbase {
  display: none;
}

#topcontrol {
  opacity: 0.4;
  z-index: 99;
}

.to_the_top {
  background-color: #e3000f;
  z-index: 99;
}

#sticky-social-icons-container {
  top: auto !important;
  bottom: 20px;
  left: auto !important;
  right: 0;
}
#sticky-social-icons-container ul a i:hover, #sticky-social-icons-container li a i:hover {
  zoom: 1.2;
}

/*# sourceMappingURL=style.css.map */
